*
   {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }
body
    {
        font-family: arial, helvetica, sans-serif;
        background-color: #f0f0f0;
        color: #333;
        transition: background-color 0.3s, color 0.3s;
    }
header
    {
        background-color: #222;
        color: white;
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
h1
    {
        font-size: 2.8rem;
        margin-bottom: 1rem;
    }
button
    {
        padding: 0.8rem 1.6rem;
        font-size:1.1rem;
        cursor:pointer;
        border: none;
        border-radius: 50px;
        transition: 0.2s;
    }
#burger
    {
        color: white;
        background: none;
        border: none;
        font-size: 26px;

    }
.hero
    {
        background-color: white;
        color: black;
        padding: 6rem 1rem;
        text-align: center;
    }    
.hero h1 
    {
        font-size: 3.5rem;
        margin-bottom: 1rem;
    }
.hero p
    {
        font-size: 25px;
        margin-bottom: 5px;
    }
.explore
    {
        background-color: white;
        color:black;
        padding: 1rem 1rem;
        text-align: center;
    }    
.explore h2
    {
        font-size: 44px;
        margin-bottom: 10px;   
    }
.explore p
    {
        font-size: 20px;
        margin-bottom: 10px;
    }
#theme-toggle
    {
        background: none;
        font-size: 16px;
        border: none;
        text-align: center;
    }
button:hover
    {
        transform: scale(1.05);
    }
    nav 
    {
        display: none;
        font-style: oblique;
    }
nav.active 
    {
        display: block;
        position: fixed;
        top: 92px;
        left: 0;
        height: 100%;
        width: 280px;
        transform: translateX(0);
        transition: transform 0.4s ease-in-out;
        background:#1a1a1a;
        padding: 1rem;
        text-align: center;
        z-index: 1000;
        border-top-right-radius: 50px;
    }
nav.active a
    {
        display: block;
        margin: 1rem 0;
        font-size: 1.3rem;
    }