*
    {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
header
    {
        background-color: #222;
        color: white;
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
body
    {
        font-family: arial, helvetica, sans-serif;
        background-color: #f1f1f1;
        color: #111827;
        transition: background-color 0.3s, color 0.3s;
    }
h1
    {
        font-size: 2.8rem;
        margin-bottom: 1rem;
    }
.hero
    {
        background-color: white;
        color: black;
        padding: 6rem 1rem;
        text-align: center;
    }    
.hero h1 
    {
        font-size: 3.5rem;
        margin-bottom: 1rem;
        font-family: "Archivo Black";
    }
.hero p
    {
        font-size: 25px;
        margin-bottom: 5px;
    }
button
    {
        padding: 0.8rem 1.6rem;
        font-size:1.1rem;
        cursor:pointer;
        border: none;
        border-radius: 50px;
        transition: 0.2s;
        box-shadow: var(--shadow-sm);
        
    }
#burger
    {
        color: white;
        background: none;
        border: none;
        font-size: 26px;

    }
.explore
    {
        background-color: white;
        color:black;
        padding: 1rem 1rem;
        text-align: center;
    }    
.explore h2
    {
        font-size: 44px;
        margin-bottom: 10px;   
    }
.explore p
    {
        font-size: 20px;
        margin-bottom: 10px;
    }
#theme-toggle
    {
        position:absolute;
        background: none;
        font-size: 26px;
        border: none;
        top:3.2rem;
        left:0.7rem;
    }
button:hover
    {
        transform: scale(1.05);
        
    }
    nav 
    {
        display: none;
        font-style: oblique;
    }
nav.active 
    {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 280px;
        transform: translateX(0);
        transition: transform 0.4s ease-in-out;
        background:#1a1a1a;
        padding: 1rem;
        text-align: center;
        z-index: 1000;
        border-top-right-radius: 50px;
    }
nav.active a
    {
        display: block;
        margin: 1rem 0;
        font-size: 25px;
        color:rgb(253, 255, 210);
        text-decoration:none;
        font:bolder;
    }
#closemenu
    {
        background:none;
        border:none;
        font-size:26px;
        color:white;
        position: absolute;
        top: 1rem;
        left:1rem;
    }
.archivo-black-regular {
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
}
